.primary {
  height: 56px;
  padding: 0 16px 0 16px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #0f9b62;
  border: 0;
  border-radius: 12px;
  transition-duration: 50ms;
}

.primary:hover {
  background-color: #087345;
  transition-duration: 50ms;
}

.primary:active {
  background-color: #075230;
}