.todoTile {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
  box-sizing: border-box;
  padding: 12px 12px;
  color: #eeeeee;
  border: 2px solid #3d3d3d;
  border-radius: 12px;
  transition-duration: 100ms;
}

.todoTile.completed {
  border: 2px solid #0f9b62;
}

.todoTitle {
  margin-top: 0px;
  margin-bottom: 2px;
  width: 90%;
  overflow: hidden;
  word-wrap: break-word;
}